<h1>Eager loading</h1>

<table>
    <thead>
        <tr>
            <th>Name </th>
            <th>Street</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each { |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.address.street %></td>
                <td><%= user.address.city %></td>
            </tr>
        <% } %>
    </tbody>
</table>